{
  "printWidth": 180,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "semi": true,
  "useTabs": false,
  "arrowParens": "avoid",
  "jsxSingleQuote": false,
  "endOfLine": "crlf",
  "quoteProps": "as-needed"
}
